.title-items
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between

.input-title
    display: flex
    flex-direction: row
    align-items: baseline
    justify-content: space-between
