@import '../../styles/_variables'

.job-card-container
    display: flex
    flex-direction: column
    align-items: flex-start
    justify-content: flex-start
    user-select: none
    border-radius: 10px
    padding: 10px
    width: 100%
    min-height: 50px
    box-shadow: 0 3px 7px -1px rgba(black, 0.5)
    cursor: pointer !important

    &:hover > .wrapper > .buttons
        visibility: visible

    .wrapper
        display: flex
        flex-direction: row
        align-items: flex-start
        justify-content: space-between
        width: 100%

        .details
            flex-direction: column
            display: flex

        .buttons
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
            margin-left: 10px
            visibility: hidden

            .icon-button
                display: flex
                align-items: center
                justify-content: center
                width: 27px
                height: 27px
                border-radius: 8px
                background-color: transparent
                box-shadow: 0 3px 5px -1px rgba(black, 0.25)
                transition: background-color ease-in-out 0.25s

            .icon-button-light
                background-color: rgba(black, 0.125)

                &:hover
                    background-color: rgba(black, 0.225)

            .icon-button-dark
                background-color: rgba(white, 0.125)

                &:hover
                    background-color: rgba(white, 0.225)

            .trash
                margin-bottom: 3px

    .date
        display: flex
        align-items: center
        align-self: flex-end

        .clock
            margin-left: 5px
            font-size: 15px

    .space
        padding-top: 5px

.job-card-container-light
    background-color: $box-light
    border: 1px solid rgba(white, 0.05)

.job-card-container-dark
    background-color: $box-dark
    border: 1px solid rgba(black, 0.05)

.job-card-container-margin
    margin-bottom: 15px

.job-card-container-margin-small
    margin-bottom: 10px
