@import '../../styles/_variables'

.contact-card-container
    display: flex
    flex-direction: column
    width: fit-content
    height: fit-content
    width: 100%
    height: 235px
    border-radius: 15px
    padding: 10px 0 5px
    cursor: default

    &:hover > .contact-card-header > .actions
        visibility: visible

    .contact-card-header
        display: flex
        flex-direction: row
        align-items: flex-start
        justify-content: space-between
        padding: 0 10px

        .user
            display: flex
            flex-direction: colunm
            align-items: flex-start
            justify-content: flex-start

            .image
                width: 50px
                height: 50px
                margin-right: 15px

        .actions
            display: flex
            flex-direction: row
            align-items: center
            justify-content: center
            margin-left: 5px
            visibility: hidden

            .icon-button
                display: flex
                align-items: center
                justify-content: center
                width: 28px
                height: 28px
                border-radius: 8px
                background-color: transparent
                transition: background-color ease-in-out 0.25s

            .icon-button-light
                border: 1px solid rgba(black, 0.1)
                background-color: rgba(black, 0.025)

                &:hover
                    background-color: rgba(black, 0.125)

            .icon-button-dark
                border: 1px solid rgba(white, 0.1)
                background-color: rgba(white, 0.025)

                &:hover
                    background-color: rgba(white, 0.125)

            .trash
                margin-left: 5px

    .contact-card-content
        padding: 0 10px
        height: 100%

        .contact
            display: flex
            align-items: center
            justify-content: flex-start
            margin-bottom: 5px

            .icon-wrapper
                display: flex
                align-items: center
                justify-content: center
                width: 25px
                height: 25px
                margin-right: 5px

        .social-media
            display: flex
            align-items: center
            justify-content: flex-start

            .social-link-space
                margin-right: 10px

            .social-link
                display: flex
                align-items: center
                justify-content: center
                width: 35px
                height: 35px
                border-radius: 8px
                background-color: transparent
                transition: background-color ease-in-out 0.25s
                text-decoration: none

            .social-link-light
                color: black
                border: 1px solid rgba(black, 0.1)
                background-color: rgba(black, 0.025)

                &:hover
                    background-color: rgba(black, 0.125)

            .social-link-dark
                color: white
                border: 1px solid rgba(white, 0.1)
                background-color: rgba(white, 0.025)

                &:hover
                    background-color: rgba(white, 0.125)

            #linkedin
                font-size: 22px

            #facebook
                font-size: 19px

        .divider
            margin: 10px 0

.contact-card-container-light
    border: 2px solid rgba(black, 0.1)

.contact-card-container-dark
    border: 2px solid rgba(white, 0.1)
