/* ========= Colors ========= */

$background: #f5f5f5
$primary-color: #1d5692
$box-light: #ffffff
$box-dark: #252525

/* ========= Breakpoints ========= */

$vs: 400px
$xs: 600px
$sm: 960px
$md: 1280px
$lg: 1920px

/* ========= Variables ========= */  

$sidebar-width: 220px
$sidebar-mobile-height: 60px
