@import '../../styles/_variables'

.jobs-container
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: flex-start
    width: calc( 100% - #{$sidebar-width} )
    height: 100vh
    padding: 0 20px

    @media screen and ( max-width: $sm )
        width: 100%
        height: calc( 100vh - #{sidebar-mobile-height} )
        padding-bottom: 2px

    .jobs-header
        display: flex
        align-items: flex-start
        justify-content: space-between
        width: 100%
        padding: 15px 0
        cursor: default

    .dnd-container
        display: flex
        flex-direction: row
        overflow-x: auto
        justify-content: flex-start
        align-items: baseline
        width: 100%
        height: 100%

        .context
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            width: fit-content

            .column-header-light
                border-left: 2px solid rgba(black, 0.25)
                border-top: 2px solid rgba(black, 0.25)
                border-right: 2px solid rgba(black, 0.25)

            .column-header-dark
                border-left: 2px solid rgba(white, 0.25)
                border-top: 2px solid rgba(white, 0.25)
                border-right: 2px solid rgba(white, 0.25)

            .column-header
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center
                width: 100%
                color: white
                background-color: $primary-color
                padding: 5px 15px
                user-select: none
                border-top-left-radius: 15px
                border-top-right-radius: 15px

                .column-header-top-line
                    display: flex
                    flex-direction: row
                    justify-content: space-between
                    align-items: center
                    width: 100%
                    margin-bottom: 5px

                    .column-header-icon-wrapper
                        display: flex
                        align-items: center
                        justify-content: center

            .droppable
                padding-bottom: 15px
                width: 300px
                height: calc( 100vh - 160px )
                border-bottom-left-radius: 15px
                border-bottom-right-radius: 15px

                @media screen and ( max-width: $sm )
                    height: calc( 100vh - 210px )

                .scrollable
                    height: 100%
                    padding: 15px 15px 0
                    overflow-y: auto

                // scrollable scrollbar
                .scrollable::-webkit-scrollbar
                    width: 16px

                .scrollable-light::-webkit-scrollbar-thumb
                    background: $thumb-color-light
                    border-radius: $scrollbar-border-radius
                    border: 5px solid lightgrey

                .scrollable-dragging-light::-webkit-scrollbar-thumb
                    border: 5px solid #A9A9A9

                .scrollable-light::-webkit-scrollbar-track
                    background: transparent

                .scrollable-dark::-webkit-scrollbar-thumb
                    background: $thumb-color-dark
                    border-radius: $scrollbar-border-radius
                    border: 5px solid #313537

                .scrollable-dragging-dark::-webkit-scrollbar-thumb
                    border: 5px solid #494f52

                .scrollable-dark::-webkit-scrollbar-track
                    background: transparent

            .droppable-light
                border-left: 2px solid rgba(black, 0.25)
                border-bottom: 2px solid rgba(black, 0.25)
                border-right: 2px solid rgba(black, 0.25)

            .droppable-dark
                border-left: 2px solid rgba(white, 0.25)
                border-bottom: 2px solid rgba(white, 0.25)
                border-right: 2px solid rgba(white, 0.25)

    // dnd container scrollbar
    .dnd-container::-webkit-scrollbar
        height: 6px

    .dnd-container-light::-webkit-scrollbar-thumb
        background: $thumb-color-light
        border-radius: $scrollbar-border-radius

    .dnd-container-light::-webkit-scrollbar-track
        background: $background-light
        border-radius: 0px

    .dnd-container-dark::-webkit-scrollbar-thumb
        background: $thumb-color-dark
        border-radius: $scrollbar-border-radius

    .dnd-container-dark::-webkit-scrollbar-track
        background: $background-dark
        border-radius: 0px

.jobs-container-light
    background-color: $background-light

.jobs-container-dark
    background-color: $background-dark
