@import '../../styles/_variables'

.activities-container
    width: 100%
    height: 100%
    cursor: default

    .no-activities
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        margin-top: 35px

        .icon
            font-size: 50px
            margin-bottom: 15px

    .divider
        margin-bottom: 10px

    .button
        display: flex
        align-items: center
        justify-content: flex-end

    #activites
        border-collapse: collapse
        width: 100%

    .activity-item
        display: flex
        align-items: center
        justify-content: space-between

        .activity-temp
            background-color: pink
            width: 100%
