@import '../../styles/_variables'

.notes-container
    background-color: royalblue
    width: 100%
    height: 100%

    .ck-editor__editable
        height: 150px !important

    .notes
        display: flex
        align-items: center
        justify-content: flex-start
        flex-wrap: wrap
