@import '../../styles/_variables'

.sidebar-container
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-between
    width: $sidebar-width
    height: 100vh
    padding: 15px 0 0
    cursor: default

    @media screen and ( max-width: $sm )
        flex-direction: row
        width: 100%
        height: $sidebar-mobile-height
        padding: 0

    .wrapper
        width: 100%
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center

        @media screen and ( max-width: $sm )
            display: none

        .logo
            margin-bottom: 20px

        .link
            color: white
            text-decoration: none

    .links
        width: 100%
        display: flex
        flex-direction: column
        align-items: center
        justify-content: flex-start
        margin: 0
        padding: 0

        @media screen and ( max-width: $sm )
            display: none

        .link
            display: flex
            align-items: center
            justify-content: flex-start
            width: 90%
            padding: 10px 25px
            list-style: none
            text-align: center
            cursor: pointer
            margin: 5px 0
            border-radius: 10px
            transition: all 0.5s
            text-transform: capitalize

            .icon
                font-size: 20px
                margin-right: 20px

        .link-light
            color: black

            &:hover
                background-color: #043a711f

        .link-dark
            color: white

            &:hover
                background-color: #043a7152

        .link.active
            cursor: default

        .link.active-light
            color: #1355ba
            background-color: #043a711f

        .link.active-dark
            color: #98c1fa
            background-color: #043a7152

        .options
            display: flex
            align-items: center
            justify-content: space-between
            width: 90%
            border-radius: 10px
            margin-bottom: 10px

            .wrapper
                display: flex
                flex-direction: row
                align-items: center
                justify-content: flex-start
                width: fit-content
                overflow: hidden
                text-overflow: ellipsis
                margin-right: 7px

                .user-image
                    width: 25px
                    height: 25px
                    border-radius: 7px
                    margin-right: 10px

                .user-avatar
                    display: flex
                    align-items: flex-end
                    justify-content: center
                    width: 25px
                    height: 25px
                    border-radius: 7px
                    margin-right: 10px

                    .icon
                        font-size: 20px

                    .demo-image
                        width: 22px
                        height: 22px
                        margin-bottom: 0.5px

                .user-avatar-light
                    background-color: $box-light

                .user-avatar-dark
                    background-color: $box-dark

        .options-light
            color: black
            border: 1px solid rgba(black, 0.2)

            &:hover
                background-color: rgba(black, 0.1)

        .options-dark
            color: white
            border: 1px solid rgba(white, 0.2)

            &:hover
                background-color: rgba(white, 0.2)

        .display-name
            text-transform: capitalize

        .email
            text-transform: lowercase

    .mobile-links
        display: none

        @media screen and ( max-width: $sm )
            display: flex
            justify-content: center
            align-items: center
            width: 100%
            margin: 0
            padding: 0

        .mobile-link
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            width: 25%
            height: $sidebar-mobile-height
            user-select: none
            padding: 5px 0 0
            cursor: pointer
            transition: all 0.5s

            .mobile-icon,
                font-size: 18px
                margin-bottom: 5px

                @media screen and ( max-width: 500px )
                    font-size: 20px

            .csv-button
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center

                #cloud
                    font-size: 25px

                @media screen and ( max-width: 500px )
                    font-size: 20px

            .csv-button-light
                color: #666666

                &:hover
                    color: #666666
                    text-decoration: none

            .csv-button-dark
                color: white

                &:hover
                    color: white
                    text-decoration: none

        .mobile-link-light
            &:hover
                background-color: #043a711f

        .mobile-link-dark
            &:hover
                background-color: #043a7152

        .mobile-link.active
            cursor: default

        .mobile-link.active-light
            color: #1355ba
            background-color: #043a711f

        .mobile-link.active-dark
            color: #98c1fa
            background-color: #043a7152

.sidebar-container-light
    background-color: #d9dbe2

.sidebar-container-dark
    background-color: #0f0f0f
