@import '../../styles/_variables'

.table-container
    width: 100%

    #jobs
        border-collapse: collapse
        width: 100%
        margin-bottom: 15px
        cursor: default

        td, th
            border-bottom: 1px solid #414350
            padding: 10px 20px

        th
            text-align: left
