@import '../../styles/_variables'

.table-container
    width: 100%
    height: 100%
    overflow-x: auto
    overflow-y: hidden
    cursor: default
    padding: 5px 0

    #jobs
        border-collapse: collapse
        width: 100%
        margin-bottom: 20px
        border-spacing: 0

        td, th
            padding: 10px 20px

            .link
                text-decoration: none
                font-family: 'Poppins', sans-serif

            .link-light
                color: black

            .link-dark
                color: white

        th
            text-align: left
            border-bottom: 1px solid #414350

        .entry-light:nth-child(even)
            background-color: #41435009

        .entry-dark:nth-child(even)
            background-color: #4143501e

        .created
            width: 180px

        .title, .company
            width: 200px

        .status
            width: 150px

        .progress
            width: 300px
            height: 57px
            font-family: 'Poppins', sans-serif
            overflow: hidden
            display: inline-block
            white-space: nowrap

    .actions
        display: flex
        align-items: center
        justify-content: flex-start

        @media screen and ( max-width: $xs )
            flex-direction: column
            align-items: flex-start

        .form-control
            display: flex
            flex-direction: row

            @media screen and ( max-width: $xs )
                margin-bottom: 10px

// table container scrollbar
.table-container::-webkit-scrollbar
    height: 6px

.table-container-light::-webkit-scrollbar-thumb
    background: $thumb-color-light
    border-radius: $scrollbar-border-radius

.table-container-light::-webkit-scrollbar-track
    background: $box-light
    border-radius: 0px

.table-container-dark::-webkit-scrollbar-thumb
    background: $thumb-color-dark
    border-radius: $scrollbar-border-radius

.table-container-dark::-webkit-scrollbar-track
    background: $box-dark
    border-radius: 0px
