@import '../../styles/_variables'

.stats-container
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: flex-start
    width: calc( 100% - #{$sidebar-width} )
    height: 100vh
    padding: 0 20px 10px 20px
    overflow-y: auto

    @media screen and ( max-width: $sm )
        width: 100%

    .stats-header
        display: flex
        justify-content: space-between
        align-items: flex-start
        width: 100%
        padding: 15px 0
        cursor: default

    .statistics
        display: flex
        align-items: center
        justify-content: space-between
        width: 100%
        margin-bottom: 10px
        flex-wrap: wrap

    .box
        display: flex
        flex-direction: column
        justify-content: flex-start
        align-items: flex-start
        width: 100%
        height: fit-content
        border-radius: 20px
        padding: 20px
        margin: 10px 0
        cursor: default

        .form-control
            display: flex
            align-items: center
            justify-content: flex-start

            @media screen and ( max-width: $xs )
                flex-direction: column
                align-items: flex-start
                justify-content: flex-start

        .no-records
            display: flex
            flex-direction: row
            align-items: center
            justify-content: center
            width: 100%
            height: 55px

    .box-light
        background-color: $box-light

    .box-dark
        background-color: $box-dark

.stats-container-light
    background-color: $background-light

.stats-container-dark
    background-color: $background-dark

.stats-container::-webkit-scrollbar
    width: 16px

.stats-container-light::-webkit-scrollbar-track
    background: $background-light

.stats-container-light::-webkit-scrollbar-thumb
    background-color: $thumb-color-light
    border-radius: 20px
    border: 5px solid $background-light

.stats-container-dark::-webkit-scrollbar-track
    background: $background-dark

.stats-container-dark::-webkit-scrollbar-thumb
    background-color: $thumb-color-dark
    border-radius: 20px
    border: 5px solid $background-dark
