@import '../../styles/_variables'

.job-info-container
    background-color: royalblue
    width: 100%
    background-color: blue
    height: 100%

    .job-info-form
        display: flex
        flex-direction: row
        flex-wrap: wrap
        align-items: center
        justify-content: flex-start

        .input-wrapper
            display: flex
            flex-direction: column
            background-color: pink
            width: 50%
            margin-bottom: 15px

            .input-title
                display: flex
                flex-direction: row
                align-items: baseline
                justify-content: flex-start

        .text-editor
            display: flex
            flex-direction: column
            background-color: pink
            width: 100%
            margin-bottom: 15px

        .space-right
            padding-right: 10px

        .space-left
            padding-left: 10px
